<article [class]="articleClasses">
  <figure [class]="figureClasses">
    <img [src]="getClientImageRoute(client.id)" [alt]="client.imageAlt" />
  </figure>
  <div class="user-details">
    <div class="user-info">
      <h2 tabindex="0">{{ client.name }}</h2>
      <h4 tabindex="0">{{ client.twitterAlias }}</h4>
      <p tabindex="0">{{ client.position }}</p>
    </div>
    <div>
      <button
        [class]="buttonClasses"
        tabindex="0"
        attr.aria-label="Button details of client {{ client.name }}"
      >
        Details
      </button>
    </div>
  </div>
</article>
